!!!
%html{:lang => 'en'}
    %head
        %meta{'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8'}
        %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
        %meta{:name => 'description', :content => ''}
        %meta{:name => 'author', :content => ''}
        /%link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.ico'}
        %title
            = @title
        %link{:rel => "stylesheet", :href => "css/bootstrap.css"}
        %link{:rel => "stylesheet", :href => "css/fonts.css"}
        %link{:rel => "stylesheet", :href => "css/jquery-ui.min.css"}
        %link{:rel => "stylesheet", :href => "slick/slick.css"}
        %link{:rel => "stylesheet", :href => "slick/slick-theme.css"}
        %link{:rel => "stylesheet", :href => "css/styles.css"}
        %script{:type => "text/javascript", :src => "js/jquery.min.js"}
        %script{:type => "text/javascript", :src => "js/jquery-ui-1.10.4.custom.min.js"}
        %script{:type => "text/javascript", :src  => "js/bootstrap.js"}
        %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
        %script{:type => "text/javascript", :src  => "js/my_scripts.js"}
        %script{:type => "text/javascript", :src => "slick/slick.min.js"}
    %body
        %div{:id => 'header', :class => 'row'}
            %div{:class => 'header-text col-sm-4 col-sm-offset-4'}
            %div{:class => 'header-menu col-sm-6 col-sm-offset-3'}
                %ul{:class => 'nav'}
                    %li
                        %a{:href => '/', :class => "#{@home_active} large-paragraph"}our wedding
                    %li{:id => 'dropdown-root'}
                        %a{:href => '/details', :class => "#{@details_active} large-paragraph"}details
                        %ul{:class => 'sub-menu text-left'}
                            %li
                                %a{:href => '/details#venue'}the venue
                            %li
                                %a{:href => '/details#calendar'}calendar of events
                            %li
                                %a{:href => '/details#faq'}what you need to know
                    %li
                        %a{:href => '/rsvp', :class => "#{@rsvp_active} large-paragraph"}rsvp
                    %li
                        %a{:href => '/registry', :class => "#{@registry_active} large-paragraph"}registry
                    %li
                        %a{:href => '/photos', :class => "#{@photos_active} large-paragraph"}vegas photos
            =yield
        %p
            &nbsp;
        %p
            &nbsp;
        %p
            &nbsp;
